// @import "bootstrap/scss/bootstrap";
// @tailwind base;
// @tailwind components;
// @tailwind utilities;

.wrapper {
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 1000px;
    align-items: center;
  }
  

  .wrapper > .block-article {
    flex-grow: 1;
    background-color: red;
  }
  .block-article:first-child {
    border: 1px solid yellow;
  }
  .block-article:nth-child(4n) {
    flex-grow: 4;
  }
  
  .relative-wrapper {
    width: 500px;
    height: 500px;
    background-color: aqua;
    position: relative;
  }
  
  .absolute-block {
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: red;
    top: 50px;
    right: 50%;
  }
  
  body {
    height: 3000px;
  }
  
  .header-fixed {
    background: #000;
    color: #fff;
    padding: 50px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }
  
  .sticky-wrapper {
    padding-left: 200px;
    height: 1000px;
    position: relative;
    background-color: bisque;
  }
  
  .sticky-block {
    height: 150px;
    width: 150px;
    background-color: violet;
    position: sticky;
    top: 50px;
    left: 0;
  }
  